.account-form {
	flex-wrap: wrap;
	padding-bottom: 15px;
	// padding: 0 10px 30px 10px;
	position: relative;
	border-bottom: 1px solid $accent-200;

	@media (min-width: 992px){
		padding: 0 72px 30px 38px;
	}

	@media (min-width: 576px){
		padding: 0 20px 30px 20px;
	}


	&.active{
		 .account-form__footer{
			 opacity: 1;
			 visibility: visible;
			 position: static;
		 }
	}
	// .account-form__header

	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	// .account-form__heading

	&__heading {
		display: inline-flex;
		align-items: center;
		position: relative;

		@media (min-width:576px) and (max-width: 991px){
			margin-left: 18px;
		}

		@media (min-width: 575px){
			margin-left: 38px;
		}

		&::before{
			content: "";
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding: 3px;
			width: 28px;
			height: 28px;
			background-color: $primary-100;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: -38px;
			transform: translateY(-50%);
		}

		&::after{
			content: "";
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 50%;
			left: -33px;
			transform: translateY(-50%) scale(0.8);

			@media (min-width: 992px){
				transform: translateY(-50%) scale(1);
			}
		}

		&--acc{
			&::after{
				height: 20px;
				background-image: url(../images/icons/account.svg);
			}
		}

		&--contact::after{
			background-image: url(../images/icons/phone.svg);
		}

		&--delivery::after{
			background-image: url(../images/icons/map-pin.svg);
		}

		&--bank::after{
			background-image: url(../images/icons/credit-card.svg);
		}
	}

	// .account-form__edit-btn

	&__edit-btn {
		color: $primary-400;
		@media (max-width: 575px){
			display: inline-flex;
			align-items: center;
			font-size: 0;
			&::after{
				content: "";
				display: block;
				width: 18px;
				height: 18px;
				background: url(../images/icons/edit.svg) no-repeat center;
			}
		}
	}

	// .account-form__list-item

	&__list-item {
		display: grid;
		grid-template-columns: 1fr;
		gap: 16px 20px;

		@media (min-width: 576px){
			grid-template-columns: repeat(2, 1fr);
			gap: 16px 20px;
		}
	}

	// .account-form__item

	&__item {
		pointer-events: none;

		&.active{
			pointer-events: initial;

			.account-form__item-input{
				border-color: $primary-200;
			}
		}
	}

	// .account-form__item-label

	&__item-label {
		display: inline-block;
		padding-left: 10px;
		margin-bottom: 4px;
		color: $primary-200;
		pointer-events: none;
		font-size: 14px;

		@media (min-width: 768px){
			padding-left: 20px;
		}
	}

	// .account-form__item-input-wrapper

	&__item-input-wrapper {}

	// .account-form__item-input

	&__item-input {
		width: 100%;
		height: 44px;
		border: 1px solid transparent;
		border-radius: 100px;
		padding: 10px;
		font-size: 14px;
		min-width: 0;

		&:focus{
			outline: none;
		}

		&[type="date"]::-webkit-calendar-picker-indicator {
			display: none;
		}

		@media (min-width: 992px){
			font-size: 16px;
		}

		@media (min-width: 768px){
			padding: 10px 20px;
		}
	}

	// .account-form__footer

	&__footer {
		padding-top: 30px;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		z-index: -10;
	}

	// .account-form__submit-btn

	&__submit-btn {
		justify-content: center;
		margin-right: 15px;

		@media (min-width: 576px){
			margin-right: 30px;
		}
	}

	// .account-form__cancel-btn

	&__cancel-btn {}
}