.header {
	padding: 18px 0;
	background-color: $accent-100;

	// .header__body

	&__body {
		display: flex;
		align-items: center;
		position: relative;
	}

	// .header__menu

	&__menu {
		position: fixed;
		height: calc(var(--vh, 1vh) * 100);;;
		width: 80vw;
		z-index: 50;
		background-color: $accent-100;
		left: 0;
		top: 0;
		padding: 60px 15px;
		transition: transform .5s;

		@media (min-width: 1200px) {
			flex: 0 1 540px;
		}

		@media (min-width: 992px){
			position: static;
			flex: 0 1 43%;
			height: auto;
			background-color: transparent;
			padding: 0;
		}

		@media (min-width: 768px){
			padding: 80px 15px;
		}

		@media (min-width: 576px){
			width: 45vw;
		}
	}

	// .header__logo-wrapper

	&__logo-wrapper {
		flex: 1 0 70px;
		margin: 0 30px;
	}

	// .header__logo

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 99;
		
		@media (min-width: 992px){
			z-index: initial;
		}
	}

	// .header__search

	&__search {
		margin-bottom: 20px;
		
		@media (min-width: 992px){
			margin-right: 30px;
		}

		@media (min-width: 768px){
			flex: 0 1 31.06%;
			margin-right: 20px;
			margin-bottom: 0;
		}
	}

	// .header__actions

	&__actions {}
}

.menu {
	// .menu__list

	&__list {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		flex-wrap: wrap;

		@media (min-width: 992px){
			flex-direction: row;
		}
	}

	// .menu__list-item

	&__list-item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 5px 0;
		margin: 0 3px;
		width: 100%;

		&:not(:last-child){
			margin-bottom: 15px;
		}

		@media (min-width: 992px){
			width: auto;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		// &:not(:last-child){
		// 	margin-right: 32px;
		// }

		@media (any-hover: hover) {
			&:hover {
				@media (min-width: 992px){
					.menu__submenu {
						opacity: 1;
						visibility: visible;
						pointer-events: auto;
						transform: translateY(0);
					}
				}

				.menu__list-item-link{
					color: $accent-500;
				}

				.menu__submenu-icon{
					transform: rotate(180deg);

					path{
						stroke: $accent-500;
					}
				}
			}
		}

		&.shown{
			.menu__list-item-link {
				color: $accent-500;
			}

			.menu__submenu-icon {
				transform: rotate(180deg);

				path {
					stroke: $accent-500;
				}
			}

			@media (min-width: 992px){
				.menu__submenu {
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					transform: translateY(0);
				}
			}
		}

	}

	// .menu__list-item-link

	&__list-item-link {
		font-size: 16px;
		text-decoration: none;
		color: $primary-400;
		line-height: 1.4;
		transition: all .3s;
		
		@media (min-width: 1200px){
			font-size: 18px; 
		}
	}

		// .menu__submenu

		&__submenu {
			flex: 0 1 100%;
			order: 2;
			transition: all .3s;
			&.mobile{
				height: 0;
				overflow: hidden;

				@media (min-width: 992px){
					height: auto;
				}
			}
			@media (min-width: 992px){
				position: absolute;
				top: 100%;
				left: 0;
				opacity: 0;
				visibility: hidden;
				transition: all .3s;
				transform: translateY(10px);
				pointer-events: none;
				z-index: 5;
			}
		}

		// .menu__submenu-icon

		&__submenu-icon {
			display: inline-flex;
			width: 12px;
			height: 6px;
			margin-left: 6px;
			transition: all .3s;

			path{
				stroke: $primary-400;
				transition: all .3s;
			}
		}
}

ul.submenu{
	padding: 10px;
}
.submenu {
	@media (min-width: 992px){
		display: flex;
		flex-direction: column;
		background-color: $accent-100;
		min-width: 200px;
		border: 1px solid $primary-400;
	}
	// .submenu__item

	&__item {}

	// .submenu__item-link

	&__item-link {
		font-size: 16px;
		text-decoration: none;
		color: $accent-500;
		white-space: nowrap;
		transition: color	.3s;

		@media(any-hover: hover){
			&:hover{
				color: $primary-400;
			}
		}
	}
}

.search {
	position: relative;

	// .search__input

	&__input {
		width: 100%;
		height: 44px;
		padding: 11px 50px 11px 20px;
		color: $primary-400;
		font-size: 16px;
		line-height: 1.4;
		border: 1px solid $primary-400;
		border-radius: 1.4em;

		&::placeholder{
			color: $primary-400;
		}

		&:focus{
			outline: none;
		}
	}

	// .search__submit

	&__submit {
		border: none;
		background-color: transparent;
		color: $primary-400;
		padding: 5px;
		font-size: 19px;
		position: absolute;
		right: 13px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		&:focus{
			outline: none;
		}
	}


}

.actions {
	display: flex;
	position: relative;

	// .actions__btn

	&__btn {
		width: 24px;
		height: 24px;
		text-decoration: none;
		font-size: 22px;
		color: $primary-400;
		background-repeat: no-repeat;
		background-position: center;

		&:not(:last-child){
			margin-right: 35px;
		}

		&--cart{
			background-image: url(../images/icons/cart.svg);
		}

		&--account{
			background-image: url(../images/icons/account.svg);
		}
	}
}