.wrapper{
	min-height: calc(var(--vh, 1vh) * 100);;;
	display: flex;
	flex-direction: column;
}

.page-content{
	flex: 1 1 auto;
	position: relative;

		// .page-content__header

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0 20px;
		flex-wrap: wrap;

		@media (min-width: 576px){
			flex-wrap: nowrap;
		}
	}

	// .page-content__title

	&__title {
	}

	// .page-content__sort-select

	&__sort-select {
		flex: 0 0 100%;
		margin-top: 15px;
		display: flex;
		justify-content: flex-end;

		@media (min-width: 576px){
			flex: 0 1 auto;
			margin-top: 0;
			margin-left: 0;
		}
	}

	// .page-content__filters-btn

	&__filters-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		margin-right: 15px;
		background-color: $primary-100;
		border: none;
		border-radius: 15px;
		color: $primary-400;

		svg{
			width: 20px;
			height: 20px;
		}

		@media (min-width: 992px){
			opacity: 0;
			visibility: hidden;
		}

		@media (min-width: 576px){
			margin: 0 30px 0 auto;
		}
	}

	// .page-content__body

	&__body {
		display: flex;
		flex-direction: column;

		@media (min-width: 992px){
			align-items: flex-start;
			flex-direction: row;
		}
	}

	// .page-content__filters

	&__filters {
		background-color: $accent-100;
		position: fixed;
		top: 0;
		left: 0;
		height: calc(var(--vh, 1vh) * 100);;
		// height: -webkit-fill-available;
		width: 85vw;
		z-index: 99;
		overflow-y: auto;
		transform: translateX(-100%);
		transition: transform .4s;
		padding: 15px 0 30px;

		@media (min-width: 992px) {
			flex: 0 0 300px;
			margin-right: 30px;
			height: auto;
			position: static;
			transform: translateX(0);
			overflow-y: initial;
			padding: 0 0 10px;
		}

		@media (min-width: 768px){
			width: 45vw;
		}

		@media (min-width: 576px){
			width: 55vw;
		}

		&.active{
			transform: translateX(0);
		}
	}

	// .page-content__filters-selected

	&__filters-selected {}

	// .page-content__product-list

	&__product-list {
		flex: 1 1 auto;
	}

	// .page-content__serch-result

	&__search-result {
		@media (max-width: 1199px){
			margin-left: -15px;
		}
	}

	// .page-content__control

	&__control {
		display: flex;
		padding: 40px 0 120px;
	}

	// .page-content__main-body

	&__main-body {
		flex: 0 0 calc(100% - 50px);
		margin-right: 15px;
		@media (min-width: 768px){
			flex: 0 1 65.892%;
			margin-right: 30px;
		}
	}

	// .page-content__side-menu

	&__side-menu {
		flex: 0 0 35px;
		position: relative;
		z-index: 2;
		@media (min-width: 768px){
			flex: 1 0 auto;
		}
	}

	// .page-content__about

	&__about {}

	// .page-content__contacts

	&__contacts {}
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.main-body {
	// .main-body__header

	&__header {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: 20px;
		gap: 10px 0;

		@media (min-width: 576px) {
			flex-direction: row;
			align-items: center;
		}
	}

	// .main-body__title

	&__title {}

	// .main-body__form

	&__form {
		margin-bottom: 15px;

		@media (min-width: 576px) {
			margin-bottom: 30px;
		}
	}

	// .main-body__footer

	&__footer {}

	// .main-body__footer-row

	&__footer-row {
		display: flex;
		justify-content: space-between;

		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	// .main-body__link-change-pass

	&__link-change-pass {}

	// .main-body__link-logout

	&__link-logout {}

	// .main-body__link-del-acc

	&__link-del-acc {}

	// .main-body__orders-list

	&__orders-list {}

	// .main-body__add-wishlist

	&__add-wishlist {
		color: $primary-400;
	}

	// .main-body__check-products

	&__check-products {}

	// .main-body__products-reviews

	&__products-reviews {}

	// .main-body__delivery

	&__delivery {
		max-width: 740px;
	}

}

.side-menu {

	// .side-menu__list

	&__list {
		display: flex;
		flex-direction: column;

		@media (max-width: 767px) {
			align-items: flex-end;
		}
	}

	// .side-menu__item

	&__item {
		position: relative;

		&.active{
			pointer-events: none;

			& .side-menu__item-link{
				background-color: $primary-100;
				border-color: $primary-100;
			}
		}

		@media (max-width: 767px) {
			width: 35px;
			height: 35px;
		}

		&+& {
			margin-top: 10px;
		}

		&::before {
			content: "";
			display: inline-block;
			width: 18px;
			height: 18px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);

			@media (min-width: 768px) {
				left: 20px;
				margin-right: 10px;
				transform: translateY(-50%);
			}
		}

		@media (max-width: 767px) {
			transition: all .3s .3s;

			&.active{
				border-radius: 50%;
				background-color: $primary-100;
			}

			&:hover &-link {
				padding: 0 45px 0 15px;
				width: auto;
				z-index: -1;
				background-color: $primary-100;
				transition: all .3s;
			}
		}

		// .side-menu__item--personal-acc

		&--personal-acc::before {
			height: 20px;
			background-image: url(../images/icons/account.svg);
		}

		// .side-menu__item--orders

		&--orders::before {
			background-image: url(../images/icons/orders.svg);
		}

		// .side-menu__item--wishlist

		&--wishlist::before {
			background-image: url(../images/icons/wishlist-primary.svg);
		}

		// .side-menu__item--viewed-products

		&--viewed-products::before {
			background-image: url(../images/icons/viewed.svg);
		}

		// .side-menu__item--reviews

		&--reviews::before {
			background-image: url(../images/icons/reviews.svg);
		}

		// .side-menu__item--delivery

		&--delivery::before {
			background-image: url(../images/icons/delivery.svg);
		}
	}

	// .side-menu__item-link

	&__item-link {
		overflow: hidden;
		display: flex;
		align-items: center;
		text-decoration: none;
		height: 56px;
		color: $primary-400;
		// padding: 0 20px 0 48px;
		border-radius: 100px;
		transition: all .3s;
		font-size: 16px;
		width: 0;

		@media (max-width: 767px) {
			height: 40px;
			white-space: nowrap;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background-color: $primary-100;
		}

		@media (min-width: 992px) {
			font-size: 18px;
			height: 60px;
		}

		@media (min-width: 768px) {
			padding: 0 20px 0 48px;
			width: auto;
			border: 2px solid transparent;

			// &.active {
			// 	pointer-events: none;
			// 	background-color: $primary-100;
			// 	border-color: $primary-100;
			// }
		}

		@media(any-hover: hover) {
			&:hover{
				border-color: $primary-100;
				// background-color: $primary-200;
			}
		}

	}
}

.logo {

	// .logo__img

	&__img {}
}

.popup-bg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: calc(var(--vh, 1vh) * 100);;;
	background-color: rgba(lighten($accent-500, 30), .3);
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
	z-index: 50;

	&--active{
		opacity: 1;
		visibility: visible;
	}
}

.title {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.22;
	color: $accent-400;
	
	@media (min-width: 992px){
		font-size: 36px;
	}
	
	@media (min-width: 576px){
		font-size: 32px;
	}

	// .title--sm

	&--sm{
		line-height: 0.89;
	}

	// .title--max

	&--max {
		font-size: 50px;
		line-height: 1;

		@media (min-width: 992px){
			font-size: 64px;
		}

		@media (min-width: 576px){
			font-size: 56px;
		}
	}

	// .title--light

	&--light {
		color: $accent-100;
	}
}

.heading {
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	color: $accent-500;

	@media (min-width: 992px) {
		font-size: 18px;
	}

	&--sm{
		@media (min-width: 992px){
			font-size: 12px;
		}
	}

	&--l{
		font-size: 18px;
		font-weight: 400;

		@media (min-width: 992px){
			font-size: 24px;
		}
	}

	&--normal{
		font-weight: 400;
	}

}

.description{
	font-size: 16px;

	@media (min-width: 992px){
		font-size: 18px;
	}
}

.link {
	display: inline-block;
	border: none;
	padding: 0;
	background-color: transparent;
	text-decoration: none;
	font-size: 14px;
	color: $primary-200;
	position: relative;
	cursor: pointer;
	overflow-x: hidden;
	white-space: nowrap;

	@media (any-hover: hover){
		&::before {
			content: "";
			width: 100%;
			height: 1px;
			background-color: $primary-200;
			position: absolute;
			top: calc(100% - 1px);
			left: 0;
			transform: translateX(-100%);
			transition: all .3s;
		}

		&--danger::before {
			background-color: $danger-200;
		}

		&:hover::before{
			transform: translateX(0);
		}
	}

	&--md{
		@media (min-width: 768px){
			font-size: 16px;
		}
	}

	&--l{
		@media (min-width: 768px){
			font-size: 18px;
		}
	}

	&--danger{
		color: $danger-200;
	}
}

.label{
	font-size: 12px;
	color: $primary-200;
	white-space: nowrap;

	@media (min-width: 992px) {
		font-size: 14px;
	}
}

.primary-btn {
	text-decoration: none;
	color: $accent-100;
	height: 45px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 190px;
	padding: 0 36px;
	border: 2px solid $primary-400;
	border-radius: 28px;
	background-color: $primary-400;
	font-size: 16px;
	cursor: pointer;
	transition: all .3s;
	white-space: nowrap;

	@media (min-width: 768px){
		font-size: 18px;
		height: 56px;
	}

	&--cart{
		justify-content: space-between;
		line-height: 1.2;

		@media (min-width: 992px){
			min-width: 220px;
			font-size: 22px;
		}

		&::before{
			content: "";
			width: 18px;
			height: 18px;
			background-image: url(../images/icons/cart-white.svg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			transition: all .3s;

			@media (min-width: 992px){
				width: 24px;
				height: 24px;
			}
		}
	}

	&--xl{
		font-size: 20px;
		justify-content: center;
		
		@media (min-width: 576px){
			min-width: 300px;
			font-size: 22px;
		}
	}

	&--s{
		@media (max-width: 575px){
			font-size: 16px;
			min-width: 100px;
			padding: 0 15px;
			height: 45px;
		}
	}

	&--disabled{
		pointer-events: none;
		color: $accent-300;
		background-color: lighten($accent-300, 10);
		border-color: lighten($accent-300, 10);
	}

	@media (any-hover: hover){
		&:hover{
			background-color: $accent-100;
			color: $primary-400;
		}

		&--cart:hover::before{
			background-image: url(../images/icons/cart.svg);
		}
	}
}

.secondary-btn{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: 2px solid $primary-100;
	border-radius: 100px;
	height: 44px;
	min-width: 190px;
	padding: 0 10px;
	background-color: $primary-100;
	color: $primary-400;
	font-size: 14px;
	white-space: nowrap;
	transition: background-color .3s;

	&:focus{
		outline: none;
	}

	@media(any-hover: hover) {
		&:hover {
			background-color: transparent;
		}
	}

	@media (min-width: 992px) {
		min-width: 220px;
		font-size: 16px;
		padding: 0 19px;
	}

	// .secondary-btn--wish
	&--wish{
		@media (min-width: 992px), (max-width: 767px){
			min-width: 56px;
			height: 56px;
			padding: 0;
			border-radius: 50%;
		}
		
		svg path:last-child{
			fill: $primary-400;
		}

		&.active {
			path:first-child{
				fill: $primary-400;
			}
		}
	}
}

.product-card {
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	// .product-card__labels

	&__labels {
		position: absolute;
		top: 5px;
		left: 5px;

		@media (min-width: 576px) {
			top: 10px;
			left: 10px;
		}
	}
	
	// .product-card__wishlist-btn

	&__wishlist-btn {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: rgba($accent-100, .3);
		border: none;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
		cursor: pointer;

		&.active{
			path:first-child{
				fill: $accent-100;
			}
		}

		@media (min-width: 576px){
			top: 10px;
			right: 10px;
			width: 40px;
			height: 40px;
		}
	}

	// .product-card__checkbox

	&__checkbox {
		position: absolute;
		top: 5px;
		right: 5px;
		padding: 5px;
		z-index: 2;
	}

	// .product-card__link

	&__link {
		@media (any-hover: hover){
			&:hover{
				.product-card__img{
					transform: scale(1.15);
				}
			}
		}
	}

	// .product-card__img-wrapper

	&__img-wrapper {
		position: relative;
		width: 100%;
		padding-top: 100%;
		overflow: hidden;
	}

	&--md &__img-wrapper {
		padding-top: 85.365%;
	}

	&--lg &__img-wrapper {
		padding-top: 67.3%;
	}

	&--xl &__img-wrapper{
		padding-top: 67.3%;

		@media (min-width: 992px){
			padding-top: 47.29%;
		}
	}

	&--vertical{
		.product-card__link{
			flex: 1 0 auto;
		}

		.product-card__info{
			flex: 0 1 100px;
		}
		.product-card__img-wrapper {
			padding-top: 85.365%;
			// padding-top: 0;
			height: 100%;
			
			@media (min-width: 440px){
				padding-top: 202.44%;
			}
		}
	}

	// .product-card__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		object-fit: cover;
		object-position: center;
		transition: transform .3s;
	}

	// .product-card__info

	&__info {
		flex: 1 1 100px;
		background-color: $accent-100;
		padding-top: 10px;
		// min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media (min-width: 576px){
			padding: 10px 10px 0;
		}

		&--sm{
			@media (min-width: 992px){
				flex: 1 1 75px;
			}
		}
	}

	// .product-card__heading

	&__heading {
	}

	// .product-card__heading-link

	&__heading-link {
		text-decoration: none;
		color: inherit;
		text-overflow: ellipsis;


		@media (any-hover: hover){
			&:hover{
				text-decoration: underline;
			}
		}
	}

	// .product-card__prices product-prices

	&__prices {
	}
}

.product-labels {
	display: flex;
	flex-direction: column;

	&--row{
		flex-direction: row;

		.product-labels__label{
			&:not(:last-child) {
				margin-bottom: 0;
				margin-right: 10px;
			}
		}
	}

	// .product-labels__label

	&__label {
		font-weight: 700;
		font-size: 10px;
		height: 27px;
		line-height: 1.35;
		color: $accent-100;
		padding: 0 5px;
		height: 20px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 100px;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&--discount {
			background-color: #C14D4D;
		}

		&--new {
			background-color: $primary-400;
		}

		&--available{
			min-width: 150px;
			background-color: rgba($primary-300, .2);
			font-size: 16px;
			font-weight: 400;
			color: $primary-300;
		}

		&--l{
			height: 30px;
			padding: 0 15px;
			font-size: 16px;
		}


		@media (min-width: 576px) {
			&:not(&.product-labels__label--l){
				font-size: 14px;
				padding: 0 12px;
				height: 27px;
			}
		}

		@media (min-width: 440px) {
			&:not(&.product-labels__label--l) {
				font-size: 12px;
			}
		}
	}
}

.section-header {
	display: flex;
	flex-direction: column;
	padding: 60px 0 22px;

	@media (min-width: 768px){
		padding: 120px 0 43px;
	}

	@media (min-width: 576px) {
		justify-content: space-between;
		align-items: flex-end;
		flex-direction: row;
	}

	// .section-header__title

	&__title {
		margin-bottom: 15px;

		@media (min-width: 576px) {
			margin-bottom: 0;
		}
	}

	// .section-header__permalink

	&__permalink {
		text-decoration: none;
		font-size: 16px;
		color: $accent-400;
		
		&::after {
			content: url(../images/icons/arrow-next.svg);
			margin-left: 8px;
		}

		&--light {
			color: $accent-100;

			&::after {
				content: url(../images/icons/arrow-next-light.svg);
			}
		}

		@media (any-hover:hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}

}

.card-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 15px;
	// grid-auto-rows: 1fr;

	@media (min-width: 992px){
		grid-template-columns: 1fr 0.365fr 1fr;
	}

	@media (min-width: 576px){
		gap: 30px;
	}

	@media (min-width: 440px){
		grid-template-columns: repeat(2, 1fr);
	}

	&--vertical{
		@media (min-width: 992px){
			grid-template-columns: repeat(3, 1fr);
			
		}
	}
	// .card-list__item

	&__item {

		// .card-list__item--large

		&--xl {
			@media (min-width: 992px){
				grid-column: span 2;
			}
		}

		// .card-list__item--vertical

		&--vertical {
			@media (min-width: 440px){
				grid-row: span 2;
			}
		}
	}
}

.sort-select {
	width: 240px;
	height: 44px;
	border-radius: 100px;
	padding: 0 32px 0 15px;
	background-color: $primary-100;
	border: 1px solid $primary-100;
	transition: all .3s;
	
	@media (any-hover:hover) {
		&.open:hover{
			border-color: $accent-100;
		}
		&:hover{
			border-color: $primary-400;
		}
	}
	
	@media (min-width: 576px){
		width: 285px;
	}


	&::after{
		margin-top: 0;
		transform: translateY(-50%) rotate(0deg) scale(0.75);
		transform-origin: 50% 50%;
		width: 18px;
		height: 18px;
		border: none;
		right: 10px;
		background: url(../images/icons/arrow-down.svg) no-repeat center;
		transition: all .3s;
	}

	&.open{
		background-color: $accent-100;
		border-color: $accent-100;

		&::after {
			transform: translateY(-50%) rotate(180deg) scale(0.75);
		}
	}


	.current{
		display: inline-block;
		width: 100%;
		color: $primary-400;
		font-size: 14px;
		line-height: 44px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&::before{
			content: "Сортировать по: ";
		}
		
		@media (min-width: 576px){
			font-size: 16px;
		}
	}

	.list{
		margin-top: 0;
		width: 100%;
		box-shadow: none;
		border-radius: 0;
	}

	// .sort-select__option

	.option {
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
		color: $accent-500;
		font-size: 14px;

		@media (min-width: 576px){
			font-size: 16px;
		}

		&:hover,
		&.focus,
		&.selected.focus{
			background-color: $primary-100;
		}

		&.selected{
			font-weight: 400;

			&::after{
				content: url(../images/icons/arrow-selected.svg);
				display: inline-block;
			}
		}
	}

}

.selected-filters {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 15px 0 15px;

	&:empty{
		padding: 0;
	}


	@media (min-width: 992px){
		padding: 0;
	}
	// .selected-filters__item

	&__item {
		height: 30px;
		padding: 0 10px 0 15px;
		background-color: rgba($primary-400, .2);
		border-radius: 20px;
		font-size: 14px;
		line-height: 30px;
		margin-bottom: 4px;
		color: $primary-400;
		cursor: pointer;

		&::after{
			content: url(../images/icons/close.svg);
			margin-left: 4px;
			cursor: pointer;
		}

		&:not(:last-child){
			margin-right: 4px;
		}
	}
}

.search-result {
	@media (max-width: 1199px){
		width: calc(100% + 30px);
	}
	// .search-result--not-found

	&--not-found {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 788px;
		padding: 50px 0;
		background-image: url(../images/not-found/not-found-bg.jpg);
		background-repeat: no-repeat;
		background-position: center;

		@media (min-width: 1200px){
			justify-content: flex-start;
			background-position: right center;
		}
	}

	// .search-result__info-block

	&__info-block {
		max-width: 485px;
		@media (max-width: 1199px){
			margin: 0 15px;
			border-radius: 30px;
			padding: 15px;
			background-color: rgba($primary-100, .55);
			max-width: 515px;
		};
	}
}

.info-block {
	// .info-block__title

	&__title {
		margin-bottom: 10px;

		&--l{
			margin-bottom: 20px;
		}
	}

	// .info-block__description

	&__description {
		&:not(:last-child){
			margin-bottom: 10px;
		}
	}

	// .info-block__email

	&__email {
		margin-bottom: 40px;
	}

	// .info-block__btn

	&__btn {
		@media (max-width: 575px){
			text-align: center;
		}
	}
}

.email{

	// .email__label

	&__label {
		font-size: 16px;

		@media (min-width: 576px) {
			font-size: 18px;
		}
	}

	// .email__link

	&__link {
		text-decoration: none;
		color: $primary-400;
		font-size: 22px;

		@media (min-width: 576px) {
			font-size: 24px;
		}
	}
}