.products-reviews {

	// .products-reviews__item

	&__item {}
}

.review-product-item {
	padding: 30px 0;
	&[data-review-product="true"]{

		&.active {
			.review-product-item__review {
				margin-top: 10px;
			}

			.review-product-item__header::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		.review-product-item__header {
			padding-right: 20px;

			@media (min-width: 576px){
				padding-right: 30px;
			}

				&::after {
					content: "";
					width: 12px;
					height: 6px;
					background: url(../images/icons/arrow-down.svg) no-repeat 0 0;
					position: absolute;
					top: 50%;
					right: 6px;
					transform: translateY(-50%);
					transition: all .7s;
				}
		}
	}

	&:first-child{
		padding-top: 0;
	}
	&:last-child{
		padding-bottom: 0;
	}

	&:not(:last-child){
		border-bottom: 2px solid $primary-100;
	}

	// .review-product-item__header

	&__header {
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;

		@media (max-width: 575px){
			flex-wrap: wrap;
			gap: 10px 0;
		}
	}

	// .review-product-item__thumbnail-wrapper

	&__thumbnail-wrapper {
		flex: 0 0 60px;
		height: 60px;
		position: relative;
		margin-right: 15px;
		border-radius: 3px;
		overflow: hidden;

		@media (min-width: 992px){
			margin-right: 30px;
		}
	}

	// .review-product-item__thumbnail

	&__thumbnail {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .review-product-item__name

	&__name {
		flex: 0 0 calc(100% - 95px);
		font-size: 14px;
		font-weight: 400;
		color: #000;
		margin-right: 15px;

		@media (min-width: 992px){
			margin-right: 30px;
			font-size: 16px;
		}

		@media (min-width: 576px){
			flex: 0 1 300px;
		}
	}

	// .review-product-item__excerpt

	&__excerpt {
		flex: 0 0 80%;
		font-size: 14px;
		
		@media (max-width: 575px){
			margin-left: auto;
		}
		
		@media (min-width: 992px){
			font-size: 16px;
		}
		
		@media (min-width: 576px){
			flex: 0 1 300px;
		}
	}

	// .review-product-item__create-review-btn
	&__create-review-btn{
		margin-left: auto;
	}

	// .review-product-item__review

	&__review {
		// margin-top: 10px;
		max-width: 740px;
		margin-left: auto;
		height: 0;
		overflow: hidden;
		transition: all .7s;
	}
}