@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

//? &display=swap&subset=cyrillic-ext окончаник для Google Fonts

@import "fonts";

$fontFamily : 'Nunito', sans-serif;  //! Шрифт по умолчанию в body

@import 'modern-reset';
@import "vars";

body{
	font-family: $fontFamily;
	background-color: $accent-100;

	&.active{
		overflow: hidden;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0)
}

@import "burger";
@import "main";
@import "header";
@import "trends";
@import "start-section";
@import "subscribe";
@import "footer";
@import "filters";
@import "product-list";
@import "product";
@import "account";
@import "orders";
@import "wishlist";
@import "my-reviews";
@import "delivery";
@import "info";
@import "contacts";
@import "order";